/* 전체 마진, 폰트 */
body {
    margin: 0px;
    font-size: 1em;
}

/* 작업자별일정현황 헤더 */
#headerj {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

    margin-top: 10px;
    padding: 5px;

    font-size: 1em;
    font-weight: bold;
}

/* 윗칸 div */
.updiv {
    /* border: 1px dotted black; */
    width: 98%;
    height: 350px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 15px;
    font-size: 0.8em;
}


/* selbox_searchInfo_table_wrap */
#selbox_searchInfo_table_wrap {
    /* border: 1px solid red; */

    width: 35%;
    height: 100%;

    float: left;
}


/* selbox div */
#selbox {
    /* border: 1px solid black; */
    height: 10%;
}

/* dname ename selectbox */
#dname,
#ename {
    width: 40%;
    height: 100%;
}

/* search_btn */
#search_btn {
    margin-left: 5px;
    width: 15%;
    height: 80%;
    line-height: 80%;
    background-color: #3498db;
    border: 0px;
    border-radius: 5px;
    color: white;

    cursor: pointer;
}

#search_btn:active {
    background-color: #346edb;
}

/* searchInfo_table_container */
#searchInfo_table_container {
    border: 1px solid #cccccc;
    margin-top: 15px;
    height: 84%;

}

/* searchInfo_table 테두리, 내부간격 */
#searchInfo_table,
#searchInfo_table tr,
#searchInfo_table th,
#searchInfo_table td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
    padding: 3px;
}

/* searchInfo_table 높이, 넓이 */
#searchInfo_table {
    width: 100%;
    height: 100%;
}

#searchInfo_table th {
    width: 45px;
    background-color: #eaeaea;
}
#searchInfo_table td {
    width: 110px;
}

#searchInfo_table th,
#searchInfo_table td {
    height: 30%;
}


/* emp_status_table_header */
#emp_status_table_header {
    font-weight: bold;
    font-size: 14px;

    margin-left: 2%;
    display: inline-block;
    border: 1px solid #cccccc;
    background-color: #eaeaea;
    width: 62%;
    height: 8%;
    line-height: 32px;
    text-align: center;
}


/* emp_status_container */
#emp_status_container {
    margin-left: 2%;
    display: inline-block;
    width: 62%;
    height: 90%;
    border: 1px solid #cccccc;

    overflow-y: scroll;
}

/* emp_status_table 테두리 */
#emp_status_table,
#emp_status_table_thead tr,
#emp_status_table_thead th,
#emp_status_talbe_tbody tr,
#emp_status_table_tbody td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

/* emp_status_table 자체넓이, 높이 */
#emp_status_table {
    width: 100%;
}

#emp_status_table_thead {
    /* 상단고정 */
    position: sticky;
    top: 0;
}

/* #emp_status_thead th 각 넓이 */
#emp_status_table_thead th {
    width: 10%;
    height: 30px;
    background-color: #eaeaea;
}

/* emp_status_table_body 자체넓이,높이 */
#emp_status_table_tbody {
    width: 100%;
    height: 100%;
}

/* emp_status_tbody th 각 넓이 */
#emp_status_table_tbody th {
    width: 10%;
}

/* emp_status_tbody th 각 높이 */
#emp_status_table_tbody tr {
    height: 30px;
    /* 높이 퍼센트는 tbody (부모) 퍼센트가 적용이 안 되어있어서 적용x */
}












/* 중앙구분선 */
#center_line {
    border-top: 1px solid #cccccc;

    margin-top: 15px;
}











/* 아랫칸 div */
.downdiv {
    /* border: 1px dotted black; */
    width: 97%;
    height: 350px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 15px;
    font-size: 0.8em;
}

/* month table header 제어 */
#month_table_header {
    border: 2px solid #cccccc;
    background-color: #eaeaea;
    width: 100% -6px;
    height: 6%;

    padding: 5px;
}

#selbox_month_div {
    border: 1px solid #cccccc;
    display: inline-block;

    width: 10%;
    height: 100%;
}

#selbox_month {
    width: 100%;
    height: 100%;
}

#month_table_header_text {
    /* border: 1px dotted black; */
    display: inline-block;
    font-weight: bold;
    font-size: 14px;

    margin-left: 10px;
}

/* month_list_container */
#month_list_container {
    border: 2px solid #cccccc;
    width: 100% -6px;
    height: 90%;

    overflow-y: scroll;
}


/* month table 테이블 */
#month_list_table,
#month_list_table_thead tr,
#month_list_table_thead th,
#month_list_table_tbody tr,
#month_list_table_tbody td {
    border: 1px solid #cccccc;
    border-top: none;
    border-collapse: collapse;
}

#month_list_table {
    width: 100%;
}

#month_list_table_thead {
    width: 100%;
    height: 20px;
    background-color: #eaeaea;

    position: sticky;
    top: 0;
}

#month_list_table_tbody td {
    height: 20px;
}

#table2_1_1,
#table2_1_2 {
    width: 80px;
    height: 25px;
}