#overtime_app {
    display: none;
    position: fixed;
    width: 80%;
    height: 700px;
    text-align: center;
    border: 1px solid;
    background-color: #fff;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #dfdfdf;
}

.table1 {
    float: left;
    width: 350px;
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
}

.table2 {
    float: right;
    width: 230px;
    height: 150px;
    margin-right: 20px;
}

.table3 {
    float: right;
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.top {
    margin-top: 30px;
}

.table4 {
    position: absolute;
    width: 96%;
    height: 220px;
    margin-top: 180px;
    margin-left: 20px;
}

.table5 {
    position: absolute;
    width: 96%;
    height: 80px;
    margin-top: 450px;
    margin-left: 20px;
}

.table1 input[type="text"] {
    width: 220px;
    border: none;
    outline: none;
}

.table4 .text1 {
    width: 100px;
    height: 60px;
    border: none;
    outline: none;
    text-align: center;
    resize: none;
}

.table4 .text2 {
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
    text-align: center;
    resize: none;
}

.table4 .text3 {
    width: 500px;
    height: 60px;
    border: none;
    outline: none;
    text-align: center;
    resize: none;
}

#ann_reason {
    width: 800px;
    height: 100px;
    border: none;
    outline: none;
}

#save {
    margin-top: 56%;
}

#close {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    top: 10px;
    right: 10px;
    background-color: white;
    border: none;
}

#close img {
    max-width: 100%;
    max-height: 100%;
}