body {
    font-family: 'Malgun Gothic', 'Nanum Gothic', 'Gothic', sans-serif;
    /* font-size: 1em; */
}

/* 메인 헤더영역 사이즈 조절 및 콘텐츠 조절 */
#main_header {
    font-size: 2em;
    width: 100%;
    /* height: 90%; */
    background-color: #e9e3e3;
    display: flex;
    justify-content: space-between;
}

/* 메인 메뉴 타이틀*/
#list_title {
    width: 50%;
    margin-left: 3%;

}


/* 헤더부분 검색 */
#list_search {
    display: flex;

    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 10px;
    /* width: 20%; */


}

.list_search_text {
    /* position: absolute;
    border: none;
    flex-grow: 1;
    padding: 5px;
    outline: none; */
}

#searchImg{
    width:20px;
    height:20px;
    position: absolute;
    margin-left: 149px;
}

.list_search_img {
    /* position: relative; */
    /* margin-left: 60%; */
    width: 20px;
    /* height: 20px; */
    cursor: pointer;

    margin-bottom: 15px;
}

/* content 사이즈 조절 */
#main_content {
    width: 100%;
    background-color: #e9e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 메인테이블 조절*/
#main_board {
    width: 95%;
    border-collapse: collapse;
    text-align: center;
}


/*  메인 테이블간격 조절 및 선 두께 설정 */
th,
td {
    padding: 0.8%;
    border: 1px solid rgba(170, 165, 165, 0.826);
}


/* 신규 등록 팝업 위치 fixed 및 크기등 조절 */
#registration_pop {
    display: none;
    width: 50%;
    max-height: 80%;
    background-color: #e0dcdc;
    border-radius: 5px;
    position: fixed;
    top: 10%;
    right: 20%;
    overflow-y: auto;
}

/* 신규 등록 title */
#registration_pop_title {
    font-size: 2em;
    background-color: #4169E1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
}

/*  신규등록 테이블 구역 wrap */
#registration_pop_table_wrap {
    width: 90%;
    height: 70%;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 5px;
}

#new_registration {
    width: 100%;
    padding: 3px;
}

.input_group {
    display: flex;
}

#pop_title {
    height: 7%;
    font-size: 1.0em;
    font-weight: bold;
    margin: 1% 0 1% 5%;
}

#new_registration .text {
    width: 100%;

}




/* input 창 hover */
        input {
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 5px;
        }
        
       input:hover {
            outline: 1px solid rgb(50, 50, 230);
        }

       
      input:focus {
            outline: 1px solid rgb(50, 50, 230);
        }


/*  팝업 테이블 선 없애기 */
#new_registration td,
tr {
    font-size: 0.9em;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;

}

/* footer */
/* 페이지 넘버 */
.page-box {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.page-box li {
    padding: 1% 1%;
    margin: 2px;
    font-size: 0.8em;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
}

.page-box li:hover {
    background-color: #4169E1;
}

/* 버튼효과 css */
.change_button {
    padding: 1% 2%;
    background-color: #6495ED;
    border: none;
    color: #fff;
    font-size: 0.8em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* 배경색 변경 애니메이션 */
}

.change_button:hover {
    background-color: #4169E1;
}

.button_basic {
    padding: 1% 1%;
    background-color: #fff;
    border: none;
    color: #000;
    font-size: 0.8em;
    border-radius: 10px;
    cursor: pointer;
}
.button_basic:hover{
border: 1px solid rgb(50, 50, 230); 
}
.table_button {
    background-color: #fff;
    border: none;
    color: black;
    font-size: 0.8em;
    width: 40%
}

/* 팝업 버튼 설정 간격 */
#setting_button {
    margin: 2% 0 2% 5%;
}


/* 메인버튼 align*/
#main_button {
    text-align: center;
    padding: 5%;
}

/* alert 팝업 div */
#alert_div,
#confirm_div{


    width: 35%;
    height: 30%;
    background-color: #e0dcdc;
    border-radius: 5px;
    position: fixed;
    top: 25%;
    left: 25%;
    display: none;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#alert_title,
#confirm_title {
    width: 100%;
    padding: 10px 0;
    background-color: #4169E1;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
    display: flex;
}

.alert_content,
.confirm_content {
    width: 100%;
    margin: 3% 0 10% 5%;
    text-align: left;
    display: flex;
}

#alert_button,
#confirm_button{
     border: 1px solid rgb(217, 217, 236);
     border-radius: 5px;
     text-align : center;
    cursor: pointer;
    
 }
