body {
    /* margin: 1; */
    max-height: 100vh;
    font-family: 'Malgun Gothic', 'Nanum Gothic', 'Gothic', sans-serif;
    background-color: #FAFAFA;
    /* background-image: url(../img/background.webp); */
    z-index: -1;
    background-color: lightgray;
    font-size: 1em;
}

.main_box {
    width: 95%;
    height: auto;
    /* border: 1px solid black; */
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

/* .left-box {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    box-sizing: border-box;
} */


#header {
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid black;
    z-index: 2;
}

#header ul {
    list-style: none;
    display: flex;
    height: 100%;
    margin-top: auto;
    padding-left: 0;
    
}

#li_icon {
    width: 20%;
}

#icon {
    width: 40%;
    height: 100%;
}

#li_search {
    width: 50%;
    position: relative;
    /* border: 1px solid; */
}

#search {
    display: flex;
    width: 100%;
    height: 80%;
    border: 2px solid rgb(26, 188, 156);
    border-radius: 10px;
    line-height: 380%;
    margin-top: 1%;
    box-sizing: border-box;

}


#search_size {
    width: 90%;
    height: 100%;
    outline: none;
    display: inline-block;
    box-sizing: border-box;
    /* border: 1px solid red; */

    display: flex;
    align-items: center;
}

#search_txt {
    width: 100%;
    height: 80%;
    font-size: 25px;
    /* outline: none: removal of outine of (input type="text") */
    outline: none;
    /* border-width: removal border of (input type="text") */
    border-width: 0;
    border-radius: 15px;
    box-sizing: border-box;
    /* border: 1px solid purple; */
}

#search_img {
    width: 7%;
    /* border:1px solid blue; */
    /* box-sizing: border-box; */
    position:inherit;
}

#search_img1 {
    width: 100%;
    cursor: pointer;
    height: 100%;
}
#search_img2{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}
.search_menu{
    width: 100%;
    text-align: center;
    display: flex;
    position: absolute;
    background-color: rgb(26, 188, 156);
    height: 30px;
    line-height: 30px;
}
.search_menu div{
    width:calc(100%/4);
    color:#fff;
    opacity: 1;
}

#li_user_icon {
    width: 30%;
}

#user_icon {
    width: 13%;
    height: 95%;
    margin-left: 70%;
}

/* 메뉴보드 */
#menu_board {
    width: 100%;
    height: 6%;
    border-bottom: 1px solid black;
    display: flex;
}


#menu_board div {
    cursor: pointer;
    width: 12.5%;
    text-align: center;
    line-height: 350%;
    /* margin-top: 1.2%; */
    border-right: 1px solid black;
    height: 100%;
}

#menu_board #store {
    border: none;
}

#menu_board div a {
    text-decoration: none;
    color: black;
}

/* 메뉴보드 끝 */
/* 메뉴세부사항 css */
#monitering {

    width: 100%;
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color: rgb(26, 188, 156);
    z-index: 2;

}

#monitering div {
    width: 25%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;

}

#monitering div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

#moniter1 a:hover {
    color: #fff;
    opacity: 1;
}

#moniter2 a:hover {
    color: #fff;
    opacity: 1;
}

#moniter3 a:hover {
    color: #fff;
    opacity: 1;
}

#moniter4 a:hover {
    color: #fff;
    opacity: 1;
}

.monitering_child{
    width:320px;
    display: block;
}

#criteria {
    width: 100%;
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color: rgb(26, 188, 156);
    z-index: 2;
}

#criteria div {
    width: calc(100%/4);
    text-align: center;
    cursor: pointer;
    /* overflow: hidden; */
}

#criteria div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

#standard1 a:hover {
    color: #fff;
    opacity: 1;
}

#standard2 a:hover {
    color: #fff;
    opacity: 1;
}

#standard3 a:hover {
    color: #fff;
    opacity: 1;
}

#standard4 a:hover {
    color: #fff;
    opacity: 1;
}

#standard5 a:hover {
    color: #fff;
    opacity: 1;
}

#planning {
    width: 100%;
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color: rgb(26, 188, 156);
    z-index: 2;
}

#planning div {
    width: 25%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;

}

#planning div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

#planning1 a:hover {
    color: #fff;
    opacity: 1;
}

#planning2 a:hover {
    color: #fff;
    opacity: 1;
}

#planning3 a:hover {
    color: #fff;
    opacity: 1;
}

#planning4 a:hover {
    color: #fff;
    opacity: 1;
}

#planning5 a:hover {
    color: #fff;
    opacity: 1;
}

#performing {
    width: 100%;
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color: rgb(26, 188, 156);
    z-index: 2;
}

#performing div {
    width: 33%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;

}

#performing div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

#perform1 a:hover {
    color: #fff;
    opacity: 1;
}

#perform2 a:hover {
    color: #fff;
    opacity: 1;
}

#perform3 a:hover {
    color: #fff;
    opacity: 1;
}

#predicting {
    width: 100%;
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color: rgb(26, 188, 156);
    z-index: 2;
}

#predicting div {
    width: calc(100%/3);
    text-align: center;
    cursor: pointer;
    overflow: hidden;

}

#predicting div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

#predicting1 a:hover {
    color: #fff;
    opacity: 1;
}

#predicting2 a:hover {
    color: #fff;
    opacity: 1;
}

#predicting3 a:hover {
    color: #fff;
    opacity: 1;
}

#predicting4 a:hover {
    color: #fff;
    opacity: 1;
}

#predicting5 a:hover {
    color: #fff;
    opacity: 1;
}

#invent {

    width: 100%;
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color: rgb(26, 188, 156);
    z-index: 2;
}

#invent div {
    width: 33%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;

}

#invent div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

#invent1 a:hover {
    color: #fff;
    opacity: 1;
}

#invent2 a:hover {
    color: #fff;
    opacity: 1;
}

#invent3 a:hover {
    color: #fff;
    opacity: 1;
}

#storing {
    width: 100%;
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color: rgb(26, 188, 156);
    z-index: 2;
}

#storing div {
    width: calc(100%/3);
    text-align: center;
    cursor: pointer;
    overflow: hidden;

}

#storing div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

#storing1 a:hover {
    color: #fff;
    opacity: 1;
}

#storing2 a:hover {
    color: #fff;
    opacity: 1;
}

#storing3 a:hover {
    color: #fff;
    opacity: 1;
}

#storing4 a:hover {
    color: #fff;
    opacity: 1;
}

/* 세부메뉴바의 폰트를 더 진하게 바꿈 end*/

/* @media 600px */
@media screen and(max-width:600px) {}

/*  */
/* 여기서부터 메뉴바 하단부 코딩(세부메뉴 코딩) */
#content {
    height: auto;
    width: 100%;
    border: 1px solid transparent;
    box-sizing: border-box;

}

#content_box1 {
    /* border: 1px solid red; */
    height: auto;
    display: flex;

}

#to_do {
    width: 40%;
    border: 1px solid #ccc;
    height: 40vh;
    margin-top: 2%;
    margin-left: 2%;
    color: #000;
    background-color: #8aff8a;
    overflow: auto;
}

#to_do_list {
    width: 45%;
    border: 1px solid #ccc;
    height: 50vh;
    margin-top: 9%;
    margin-left: 25%;
    position: absolute;
    display: none;
    /* background-color:rgb(26,188,156); */
    color: black;
    border: 1px solid black;
    z-index: 2;
    background-color: #fff;

}

#text {
    width: 100%;
    height: 45vh;
    /* border: 1px solid red; */
    overflow-y: hidden;
    border-bottom: 1px solid black;
    /* z-index: 2; */
    color: black;
    word-break: break-all;
}


#to_do_list a {
    color: black;
    list-style: none;
}

#task_input {
    width: 100%;
    height: 100%;
    background-color: lightblue;
    outline: none;
    border: 0;
    font-size: 30px;
    overflow: auto;
    word-break: break-all;
}

#task_list li {
    list-style: none;
}

#task {
    z-index: 2;
}

#to_do button {
    border-radius: 10px;
    border: 1px solid greenyellow;
    cursor: pointer;

}

#btn {
    display: flex;
    width: 25.23%;
    /* border: 1px solid red; */
    margin: 0 auto;
    height: 5vh;
    line-height: 5vh;
}

#plus {
    font-weight: bold;
    font-size: 20px;
    color: rgb(26, 188, 156);
    width: 4%;
    text-align: center;
    margin-top: 2%;
    border: 2px solid #ccc;
    border-left: none;
    height: 5vh;
}

#plus_img {
    width: 100%;
    height: 5vh;
    cursor: pointer;
}

#plus_img:hover {
    width: 100%;
    height: 6vh;
    /* margin-left: 39%; */
    margin-top: -5%;
}

#weather_div {
    border: 1px solid black;
    width: 50%;
    height: 30vh;
}

#content_box2 {
    /* border: 1px solid red; */
    height: 50vh;
    display: flex;
}

/* iframe 부분 */

#frame {
    border: 1px solid black;
    width: 40%;
    height: 70%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 8%;
}

#iframe {
    width: 100%;
    height: 85%;
}

#iframe_div {
    border-top: 1px solid black;
    height: 4.2vh;
    margin: 0;
}



#iframe_ul {
    margin-left: 27%;
    margin-top: 2%;
}

#iframe_ul li {
    list-style: none;
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;
    width: 5%;
    height: 2vh;
    text-align: center;
    line-height: 2vh;
    cursor: pointer;
    margin-top: -10%;
    padding: 1%;
}

/* 달력부분 */
/* Calendar Section */
#calendar_div {
    /* border: 1px solid black; */
    width: 50%;
    /* Adjusted to take full width of the container */
    height: 80%;
    /* Adjusted to take full height of the container */
    margin: 0;
    /* Removed margins for better fit */
    display: flex;
    flex-direction: column;
    /* Changed to column for better layout control */
    margin-top: 2%;
    margin-left: 2%;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    /* Prevent shrinking */
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.year_month {
    font-size: 20px;
}

.nav {
    display: flex;
    /* border: 1px solid #333333; */
    /* border-radius: 5px; */
    margin-top: 1%;
    margin-bottom: 1%;
    width: 25%;
    margin-right: 5%;
}

.nav button {
    width: 30%;
    height: 30px;
    border: none;
    font-size: 12px;
    line-height: 30px;
    /* Adjusted for vertical centering */
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.go_today {
    width: 50px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    margin-left: 10%;

}

.days {
    display: flex;
    flex-shrink: 0;
    /* Prevent shrinking */
    border: 1px solid black;
    border-bottom: none;
}

.day {
    width: calc(100% / 7);
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    /* Allows dates to take up remaining space */
    overflow-y: auto;
    /* Adds scroll for overflow */
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    /* margin-top:1%; */

}

.date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    box-sizing: border-box;
}

.day:nth-child(1),
.date:nth-child(7n + 1) {
    color: #d13e3e;
}

.other {
    opacity: 0.3;
}

.today {
    position: relative;
    color: #ffffff;

}

.today:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #ff5959;
    border-radius: 50%;
    content: '';
}


/* 모니터링 장비쪽 css */
#info,
#equip1,
#equip2,
#equip3 {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 3%;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

#info {
    display: none;
}

#info #full_frame {
    width: calc(94%/3);
    margin-right: 0;
    box-sizing: border-box;
}

#right_frame {
    width: 66.3%;
    border: 3px solid #6a9bac;
    background-color: #fff;
    height: 17.6vh;
    border-left: none;
    /* box-sizing: border-box; */
}

#graph {
    width: 40%;
    /* height: 18vh; */
}

#abc {
    width: 30%;
    /* height: 18vh; */

}

.main_box::-webkit-scrollbar {
    display: none;
}

#full_frame {
    width: calc(97%/3);
    border: 3px solid #6a9bac;
    height: 18vh;
    /* margin-top: 3.5%; */
    margin-right: 1%;
    margin-left: 1%;
    color: #fff;
    box-sizing: border-box;
}

#top_frame {
    width: 100%;
    height: 15vh;
    display: flex;
    box-sizing: border-box;
}

#img_frame {
    width: 40%;
    height: 15vh;
    box-sizing: border-box
}

#img_frame img {
    width: 100%;
    height: 15vh;
    border-bottom: 3px solid #6a9bac;
    border-right: 3px solid #6a9bac;
    box-sizing: border-box;
    cursor: pointer;
}

#info_frame {
    width: 60%;
    height: 15vh;
    box-sizing: border-box
}

#info_name,
#job,
#work,
#tool {
    height: calc(15vh/4);
    border-bottom: 3px solid #6a9bac;
    line-height: 3.67vh;
    box-sizing: border-box;
}

#info_name1,
#job1,
#work1,
#tool1 {
    height: calc(15vh/4);
    border-bottom: 3px solid #6a9bac;
    line-height: 3.67vh;
    box-sizing: border-box;
}

#info_name {
    text-align: center;
    color: lightgreen;
    box-sizing: border-box;
}

#info_name1 {
    text-align: center;
    color: lightgreen;
    box-sizing: border-box;
}

#bottom_frame {
    width: 100%;
    height: 2.85vh;
    display: flex;
    /* border: 1px solid red; */
    line-height: 2.85vh;
    box-sizing: border-box;
}

#power {
    width: 40%;
    border-right: 3px solid #6a9bac;
    height: 2.85vh;
    text-align: center;
    /* color: red; */
    font-weight: bold;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 40%;
}

#time {
    width: 60%;
    height: 2.85vh;
    box-sizing: border-box;
}

#equip3 #full_frame {
    width: calc(94%/3);
    border: 3px solid #6a9bac;
    height: 18vh;
    /* margin-top: 3.5%; */
    margin-right: 1%;
    margin-left: 1%;
    color: #fff;
    box-sizing: border-box;
    display: inline-block
}

#on_off_frame1,
#on_off_frame2 {
    width: 100%;
    height: 18vh;
    line-height: 6vh;
    text-align: center;
}

#f1,
#f2,
#f3 {
    width: 100%;
    height: 5.7vh;
    /* border: 3px solid #6a9bac; */
    border-bottom: 3px solid #6a9bac;
    border-right: 3px solid #6a9bac;
}

#on_off_frame1 #f1_1 {
    display: inline-block;
    height: 6vh;
    width: 30%;
}

#on_off_frame2 {
    line-height: 4.2vh;
}

#f4,
#f5,
#f6,
#f7 {
    width: 100%;
    height: 4.2vh;
    /* border: 3px solid #6a9bac; */
    border-bottom: 3px solid #6a9bac;
    border-right: 3px solid #6a9bac;
}

#on_off_frame2 #f1_1 {
    display: inline-block;
    height: 4.2vh;
    width: 30%;
}

#PCB_ON {
    padding: 2px 4px;
    background-color: #6495ED;
    border: none;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

#PCB_OFF {
    padding: 2px 4px;
    background-color: #6495ED;
    border: none;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

#PCB_ON:hover,
#PCB_OFF:hover {
    background-color: #4169E1;
}

#PCB_ON:hover {
    color: yellow;
}

#PCB_OFF:hover {
    color: red;
}

#on {
    padding: 2px 4px;
    background-color: #6495ED;
    border: none;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

#off {
    padding: 2px 4px;
    background-color: #6495ED;
    border: none;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

#on:hover,
#off:hover {
    background-color: #4169E1;
}

#on:hover {
    color: green;
}

#off:hover {
    color: red;
}

#right_frame {
    display: flex;
    /* box-sizing: border-box; */
}

#graph {
    width: 40%;
    height: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    position: relative;
}

#chart {
    position: relative;
    width: 80%;
    height: 100%;
    border-radius: 50%;
    transition: 0.3;
    /* background-color: lightgray; */
    display: inline-block;
    margin-left: 15%;
    box-sizing: border-box;

}

#chart:after {
    content: '';
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 41%;
    width: 50%;
    height: 60%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 1;

}

#chart_bar {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background: conic-gradient(lightgreen 3.6deg, lightgray 3.6deg);
    position: relative;
    box-sizing: border-box;
}

#explain {
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    line-height: 210%;

}

#explain div {
    height: 20%;
    width: 100%;
    border-bottom: 1px solid #4169E1;
    border-left: 1px solid #4169E1;
    box-sizing: border-box;
}

#percent {
    text-align: center;
    margin-top: 21%;
    position: absolute;
    margin-left: 43%;
    z-index: 2;

}

#explain #expect {
    border-bottom: none;
}

#graph_container{
    width: 90%;
    height: 700px;
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0 auto;
    position: relative;
}
/* 미디어 폰사이즈 */
/* @media screen and (max-width:320px) and (max-height:480px){
    #search_txt::placeholder{

    }
} */
