 /* 전체 마진, 폰트 */
 body {
     margin: 0px;
     font-size: 1em;
 }

 /* 공정별작업지시관리 헤더 */
 #headerj {
     border-top: 2px solid gray;
     border-bottom: 2px solid gray;

     margin-top: 10px;
     padding: 5px;

     font-size: 14px;
     font-weight: bold;
 }


 /* 윗칸 div */
 .updiv {
     /* border: 1px dotted black; */
     width: 97%;
     height: 350px;
     margin-left: 1%;
     margin-right: 1%;
     margin-top: 15px;

     font-size: 0.8em;
 }

 #task_order_status_header_div {
     /* border: 1px dotted black; */
     border: 1px solid #cccccc;
     background-color: #eaeaea;
     padding-top: 3px;
     padding-bottom: 3px;

     display: flex;
     justify-content: space-between;
 }

 #task_order_status_header_text {
     /* border: 1px dotted black; */
     font-size: 14px;
     font-weight: bold;
     margin-left: 15px;
 }

 /* 버튼 묶음 */
 #btn_wrap {
     /* border: 1px dotted black; */
 }

 /* 버튼 모양 */
 #btn_req_sel,
 #btn_req_all {
     background-color: #3498db;
     border: 0px;
     border-radius: 5px;
     color: white;

     margin-right: 10px;

     cursor: pointer;
 }

 /* 버튼 클릭 */
 #btn_req_sel:active,
 #btn_req_all:active {
     background-color: #346edb;
 }

 /* task_order_status_div */
 #task_order_status_div {
     /* border: 1px dotted black; */
     border-top: 1px solid #cccccc;
     border-bottom: 1px solid #cccccc;
     width: 100%;
     height: 92%;

     overflow-y: scroll;
 }

 /* task_order_status_table 전체,내부 테두리 */
 #task_order_status_table,
 #task_order_status_table_thead tr,
 #task_order_status_table_thead th,
 #task_order_status_table_tbody tr,
 #task_order_status_table_tbody td {
     border: 1px solid #cccccc;
     border-collapse: collapse;
 }


 /* task_order_status_table */
 #task_order_status_table {
     width: 100%;
     height: 100%;
 }

 #task_order_status_table_thead {
     background-color: #eaeaea;

     position: sticky;
     top: 0;
 }

 /* 체크박스 넓이 고정 */
 #table1_1_1 {
     width: 10px;
 }

 /* 숫자 외 컬럼명 넓이 고정 */
 #table1_1_2,
 #table1_1_3,
 #table1_1_4 {
     width: 100px;
 }











 /* 중앙구분선 */
 #center_line {
     border-top: 1px solid #cccccc;

     margin-top: 15px;
 }












 /* 아랫칸 div */
 .downdiv {
     /* border: 1px dotted black; */
     width: 97%;
     height: 350px;
     margin-left: 1%;
     margin-right: 1%;
     margin-top: 15px;

     font-size: 0.8em
 }

 #task_order_header_div {
     border: 1px solid #cccccc;
     background-color: #eaeaea;
     padding-top: 3px;
     padding-bottom: 3px;

     display: flex;
     justify-content: space-between;
 }

 #task_order_header_text {
     /* border: 1px dotted black; */
     font-size: 14px;
     font-weight: bold;
     margin-left: 15px;
 }

 /* 버튼 묶음 */
 #btn_wrap_2 {
     /* border: 1px dotted black; */
 }

 /* 버튼 모양 */
 #btn_cancel,
 #btn_accept,
 #btn_accept_all {
     background-color: #3498db;
     border: 0px;
     border-radius: 5px;
     color: white;

     margin-right: 10px;

     cursor: pointer;
 }

 /* 작업순서변경 버튼 모양 */
 #btn_up,
 #btn_down {
     background-color: #3498db;
     color: white;
     border: 0px;
     width: 20px;
     height: 20px;
     border-radius: 100%;

     /* 버튼 중앙 */
     padding: 0;
 }

 /* 버튼 클릭 */
 #btn_cancel:active,
 #btn_accept:active,
 #btn_accept_all:active,
 #btn_up:active,
 #btn_down:active {
     background-color: #346edb;
 }

 /* 작업순서변경 버튼 간격 */
 #btn_down {
     margin-right: 15px;
 }



 /* task_order_div */
 #task_order_div {
     border: 1px solid #cccccc;
     width: 100% -1px;
     height: 92%;

     overflow-y: scroll;
 }

 /* task_order_table 전체,내부 테두리 */
 #task_order_table,
 #task_order_table_thead tr,
 #task_order_table_thead th,
 #task_order_table_tbody tr,
 #task_order_table_tbody td {
     border: 1px solid #cccccc;
     border-collapse: collapse;
 }


 /* task_order_table */
 #task_order_table {
     width: 100%;
     height: 100%;
 }

 #task_order_table_thead {
     background-color: #eaeaea;

     position: sticky;
     top: 0;
 }

 /* 컬럼 전체 높이 */
 #task_order_table_thead th {
     height: 30px;
 }

 /* 체크박스 넓이 고정 */
 #table2_1_1 {
     width: 10px;
 }

 #table2_1_2 {
     width: 60px;
 }