#to_do {
    width: 40%;
    border: 1px solid #ccc;
    height: 40vh;
    margin-top: 2%;
    margin-left: 2%;
    color: #000;
    background-color: #8aff8a;
    overflow: auto;
}

#to_do_list {
    width: 45%;
    border: 1px solid #ccc;
    height: 50vh;
    margin-top: 9%;
    margin-left: 25%;
    position: absolute;
    display: none;
    /* background-color:rgb(26,188,156); */
    color: black;
    border: 1px solid black;
    z-index: 2;
    background-color: #fff;

}

#text {
    width: 100%;
    height: 45vh;
    /* border: 1px solid red; */
    overflow-y: hidden;
    border-bottom: 1px solid black;
    /* z-index: 2; */
    color: black;
    word-break: break-all;
}


#to_do_list a {
    color: black;
    list-style: none;
}

#task_input {
    width: 100%;
    height: 100%;
    background-color: lightblue;
    outline: none;
    border: 0;
    font-size: 30px;
    overflow: auto;
    word-break: break-all;
}

#task_list li {
    list-style: none;
}

#task {
    z-index: 2;
}

#to_do button {
    border-radius: 10px;
    border: 1px solid greenyellow;
    cursor: pointer;

}

#btn {
    display: flex;
    width: 25.23%;
    /* border: 1px solid red; */
    margin: 0 auto;
    height: 5vh;
    line-height: 5vh;
}

#plus {
    font-weight: bold;
    font-size: 20px;
    color: rgb(26, 188, 156);
    width: 4%;
    text-align: center;
    margin-top: 2%;
    border: 2px solid #ccc;
    border-left: none;
    height: 5vh;
}

#plus_img {
    width: 100%;
    height: 5vh;
    cursor: pointer;
}

#plus_img:hover {
    width: 100%;
    height: 6vh;
    /* margin-left: 39%; */
    margin-top: -5%;
}

#weather_div {
    border: 1px solid black;
    width: 50%;
    height: 30vh;
}

#content_box2 {
    /* border: 1px solid red; */
    height: 50vh;
    display: flex;
}

/* iframe 부분 */

#frame {
    border: 1px solid black;
    width: 40%;
    height: 70%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 8%;
}

#iframe {
    width: 100%;
    height: 85%;
}

#iframe_div {
    border-top: 1px solid black;
    height: 4.2vh;
    margin: 0;
}



#iframe_ul {
    margin-left: 27%;
    margin-top: 2%;
}

#iframe_ul li {
    list-style: none;
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;
    width: 5%;
    height: 2vh;
    text-align: center;
    line-height: 2vh;
    cursor: pointer;
    margin-top: -10%;
    padding: 1%;
}

/* 달력부분 */
/* Calendar Section */
#calendar_div {
    /* border: 1px solid black; */
    width: 50%;
    /* Adjusted to take full width of the container */
    height: 80%;
    /* Adjusted to take full height of the container */
    margin: 0;
    /* Removed margins for better fit */
    display: flex;
    flex-direction: column;
    /* Changed to column for better layout control */
    margin-top: 2%;
    margin-left: 2%;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    /* Prevent shrinking */
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.year_month {
    font-size: 20px;
}

.nav {
    display: flex;
    /* border: 1px solid #333333; */
    /* border-radius: 5px; */
    margin-top: 1%;
    margin-bottom: 1%;
    width: 25%;
    margin-right: 5%;
}

.nav button {
    width: 30%;
    height: 30px;
    border: none;
    font-size: 12px;
    line-height: 30px;
    /* Adjusted for vertical centering */
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.go_today {
    width: 50px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    margin-left: 10%;

}

.days {
    display: flex;
    flex-shrink: 0;
    /* Prevent shrinking */
    border: 1px solid black;
    border-bottom: none;
}

.day {
    width: calc(100% / 7);
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    /* Allows dates to take up remaining space */
    overflow-y: auto;
    /* Adds scroll for overflow */
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    /* margin-top:1%; */

}

.date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    box-sizing: border-box;
}

.day:nth-child(1),
.date:nth-child(7n + 1) {
    color: #d13e3e;
}

.other {
    opacity: 0.3;
}

.today {
    position: relative;
    color: #ffffff;

}

.today:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #ff5959;
    border-radius: 50%;
    content: '';
}


/* 모니터링 장비쪽 css */
#info,
#equip1,
#equip2,
#equip3 {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 3%;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

#info {
    display: none;
}

#info #full_frame {
    width: calc(94%/3);
    margin-right: 0;
    box-sizing: border-box;
}

#right_frame {
    width: 66.3%;
    border: 3px solid #6a9bac;
    background-color: #fff;
    height: 17.6vh;
    border-left: none;
    /* box-sizing: border-box; */
}

#graph {
    width: 40%;
    /* height: 18vh; */
}

#abc {
    width: 30%;
    /* height: 18vh; */

}

.main_box::-webkit-scrollbar {
    display: none;
}

#full_frame {
    width: calc(97%/3);
    border: 3px solid #6a9bac;
    height: 18vh;
    /* margin-top: 3.5%; */
    margin-right: 1%;
    margin-left: 1%;
    color: #fff;
    box-sizing: border-box;
}

#top_frame {
    width: 100%;
    height: 15vh;
    display: flex;
    box-sizing: border-box;
}

#img_frame {
    width: 40%;
    height: 15vh;
    box-sizing: border-box
}

#img_frame img {
    width: 100%;
    height: 15vh;
    border-bottom: 3px solid #6a9bac;
    border-right: 3px solid #6a9bac;
    box-sizing: border-box;
    cursor: pointer;
}

#info_frame {
    width: 60%;
    height: 15vh;
    box-sizing: border-box
}

#info_name,
#job,
#work,
#tool {
    height: calc(15vh/4);
    border-bottom: 3px solid #6a9bac;
    line-height: 3.67vh;
    box-sizing: border-box;
}

#info_name1,
#job1,
#work1,
#tool1 {
    height: calc(15vh/4);
    border-bottom: 3px solid #6a9bac;
    line-height: 3.67vh;
    box-sizing: border-box;
}

#info_name {
    text-align: center;
    color: lightgreen;
    box-sizing: border-box;
}

#info_name1 {
    text-align: center;
    color: lightgreen;
    box-sizing: border-box;
}

#bottom_frame {
    width: 100%;
    height: 2.85vh;
    display: flex;
    /* border: 1px solid red; */
    line-height: 2.85vh;
    box-sizing: border-box;
}

#power {
    width: 40%;
    border-right: 3px solid #6a9bac;
    height: 2.85vh;
    text-align: center;
    /* color: red; */
    font-weight: bold;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 40%;
}

#time {
    width: 60%;
    height: 2.85vh;
    box-sizing: border-box;
}

#equip3 #full_frame {
    width: calc(94%/3);
    border: 3px solid #6a9bac;
    height: 18vh;
    /* margin-top: 3.5%; */
    margin-right: 1%;
    margin-left: 1%;
    color: #fff;
    box-sizing: border-box;
    display: inline-block
}

#on_off_frame1,
#on_off_frame2 {
    width: 100%;
    height: 18vh;
    line-height: 6vh;
    text-align: center;
}

#f1,
#f2,
#f3 {
    width: 100%;
    height: 5.7vh;
    /* border: 3px solid #6a9bac; */
    border-bottom: 3px solid #6a9bac;
    border-right: 3px solid #6a9bac;
}

#on_off_frame1 #f1_1 {
    display: inline-block;
    height: 6vh;
    width: 30%;
}

#on_off_frame2 {
    line-height: 4.2vh;
}

#f4,
#f5,
#f6,
#f7 {
    width: 100%;
    height: 4.2vh;
    /* border: 3px solid #6a9bac; */
    border-bottom: 3px solid #6a9bac;
    border-right: 3px solid #6a9bac;
}

#on_off_frame2 #f1_1 {
    display: inline-block;
    height: 4.2vh;
    width: 30%;
}

#PCB_ON {
    padding: 2px 4px;
    background-color: #6495ED;
    border: none;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

#PCB_OFF {
    padding: 2px 4px;
    background-color: #6495ED;
    border: none;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

#PCB_ON:hover,
#PCB_OFF:hover {
    background-color: #4169E1;
}

#PCB_ON:hover {
    color: yellow;
}

#PCB_OFF:hover {
    color: red;
}

#on {
    padding: 2px 4px;
    background-color: #6495ED;
    border: none;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

#off {
    padding: 2px 4px;
    background-color: #6495ED;
    border: none;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

#on:hover,
#off:hover {
    background-color: #4169E1;
}

#on:hover {
    color: green;
}

#off:hover {
    color: red;
}

#right_frame {
    display: flex;
    /* box-sizing: border-box; */
}

#graph {
    width: 40%;
    height: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    position: relative;
}

#chart {
    position: relative;
    width: 80%;
    height: 100%;
    border-radius: 50%;
    transition: 0.3;
    /* background-color: lightgray; */
    display: inline-block;
    margin-left: 15%;
    box-sizing: border-box;

}

#chart:after {
    content: '';
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 41%;
    width: 50%;
    height: 60%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 1;

}

#chart_bar {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background: conic-gradient(lightgreen 3.6deg, lightgray 3.6deg);
    position: relative;
    box-sizing: border-box;
}

#explain {
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    line-height: 210%;

}

#explain div {
    height: 20%;
    width: 100%;
    border-bottom: 1px solid #4169E1;
    border-left: 1px solid #4169E1;
    box-sizing: border-box;
}

#percent {
    text-align: center;
    margin-top: 21%;
    position: absolute;
    margin-left: 43%;
    z-index: 2;

}

#explain #expect {
    border-bottom: none;
}

#graph_container{
    width: 90%;
    height: 700px;
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0 auto;
    position: relative;
}
/* 미디어 폰사이즈 */
/* @media screen and (max-width:320px) and (max-height:480px){
    #search_txt::placeholder{

    }
} */