body {
    font-family: 'Malgun Gothic', 'Nanum Gothic', 'Gothic', sans-serif;
    font-size: 1em;
  }

  .equipment_table {
    width: 70%;
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  td {
    text-align: left;
  }

  input[type="text"],
  select {
    width: 95%;
    padding: 5px;
    margin: 4px 0;
    box-sizing: border-box;
  }


  #equipment_board {
    width: 95%;
    border-collapse: collapse;
    text-align: center;
    border: '1';
  }

  th,
  td {
    padding: 0.8%;
    border: 1px solid rgba(170, 165, 165, 0.826);
  }

  #main_content {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;	
  }

	#tbody_text{
		font-size:0.6em;
	}
  
  button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: #d3caca;
    color: black;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
  }

  .change_button {
    padding: 10px 20px;
    /* 버튼 내부 여백 설정 */
    background-color: #6495ED;
    /* 밝은 파란색 배경 */
    border: none;
    /* 테두리 제거 */
    color: white;
    /* 글자색 흰색 */
    font-size: 1em;
    /* 글자 크기 */
    border-radius: 10px;
    /* 모서리 둥글게 */
    cursor: pointer;
    /* 마우스 오버 시 커서 변경 */
    transition: background-color 0.3s ease;
    /* 배경색 변경 애니메이션 */
  }
	
  .change_button:hover {
    background-color: #4169E1;
    /* 마우스 오버 시 배경색 진한 파란색으로 변경 */
  }
  
  .delete_button_container {
    text-align: right; /* 오른쪽 정렬 */
    width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
    padding: 10px 0; /* 상단과 하단에 여백 추가 */
}