a {
    text-decoration-line: none;
}

.center {
    text-align: center;
    font-weight: bold;
}

.day {
    width: 100%;
    margin: 0 auto;
}

#eq_list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* 여기에 flex-wrap 속성 추가 */
    justify-content: flex-start;
    /* 항목들이 왼쪽에서 시작하도록 정렬 */
}

#eq_list li {
    list-style: none;
    flex: 1 1 22%;
    margin: 0 10px;
    box-sizing: border-box;
    text-align: center;
}


#eq_list li span {
    display: inline-block;
    /* span 요소가 텍스트를 중앙 정렬하도록 설정 */
    width: 100%;
    /* span 요소의 너비를 li의 너비와 동일하게 설정 */
    font-weight: bold;
    font-size: 1em;
}

#eq_list li img {
    width: 100%;
    /* 이미지가 li의 너비에 맞춰지도록 설정 */
    height: auto;
    /* 이미지 비율 유지 */
}

button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: #d3caca;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.change_button {
    padding: 10px 20px;
    /* 버튼 내부 여백 설정 */
    background-color: #1abc9c;
    /* 밝은 파란색 배경 */
    border: none;
    /* 테두리 제거 */
    color: white;
    /* 글자색 흰색 */
    font-size: 16px;
    /* 글자 크기 */
    border-radius: 10px;
    /* 모서리 둥글게 */
    cursor: pointer;
    /* 마우스 오버 시 커서 변경 */
    transition: background-color 0.3s ease;
    /* 배경색 변경 애니메이션 */
}

.change_button:hover {
    background-color: #15967D;
    /* 마우스 오버 시 배경색 진한 파란색으로 변경 */
}


/* @media (max-width: 600px) {
    ul li {
        flex-basis:100%;
        <!-- 모바일 화면에서는 항목을 한 줄에 하나씩 표시 -->
    }
}  
*/